<!DOCTYPE html>
<html lang="en">
  <!-- Basic -->

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Site Metas -->
    <title>AgroVert - Beni Mellall RPZ</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css" />
  </head>

  <body>
    <!-- Start Main Top -->
    <header class="main-header">
      <!-- Start Navigation -->
      <nav
        class="
          navbar navbar-expand-lg navbar-light
          bg-light
          navbar-default
          bootsnav
        "
      >
        <div class="container">
          <!-- Start Header Navigation -->
          <div class="navbar-header">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbar-menu"
              aria-controls="navbars-rs-food"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/AgroVert/user/index"
              ><img src="/images/logo3.png" class="logo" alt=""
            /></a>
          </div>
          <!-- End Header Navigation -->

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul
              class="nav navbar-nav ml-auto"
              data-in="fadeInDown"
              data-out="fadeOutUp"
            >
              <li class="nav-item active">
                <a class="nav-link" href="/AgroVert/user/index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/AgroVert/user/about">About</a>
              </li>
              <li class="nav-item">
               <a class="nav-link" href="/AgroVert/user/gallery">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/AgroVert/user/connexion">Connexion</a>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
      </nav>
      <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
      <div class="container">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" placeholder="Search" />
          <span class="input-group-addon close-search"
            ><i class="fa fa-times"></i
          ></span>
        </div>
      </div>
    </div>
    <!-- End Top Search -->

    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
      <ul class="slides-container">
        <li class="text-center">
          <img src="/images/img1.jpg" alt="" />
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="m-b-20">
                  <strong
                    >Bienvenue chez <br />
                    AgroVert Atlas</strong
                  >
                </h1>
                <p><a class="btn hvr-hover" href="contact.html">Contact</a></p>
              </div>
            </div>
          </div>
        </li>
        <li class="text-center">
          <img src="/images/img4.jpg" alt="" />
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="m-b-20">
                  <strong
                    >Bienvenue chez <br />
                    AgroVert Atlas</strong
                  >
                </h1>
                <p><a class="btn hvr-hover" href="#">Contact</a></p>
              </div>
            </div>
          </div>
        </li>
        <li class="text-center">
          <img src="/images/img3.jpg" alt="" />
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="m-b-20">
                  <strong
                    >Bienvenue chez <br />
                    AgroVert Atlas</strong
                  >
                </h1>
                <p><a class="btn hvr-hover" href="#">Contact</a></p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="slides-navigation">
        <a href="#" class="next"
          ><i class="fa fa-angle-right" aria-hidden="true"></i
        ></a>
        <a href="#" class="prev"
          ><i class="fa fa-angle-left" aria-hidden="true"></i
        ></a>
      </div>
    </div>
    <!-- End Slider -->

    <!-- Start Categories  -->
    <div class="categories-shop">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="shop-cat-box">
              <img
                class="img-fluid"
                src="../images/categories_img_01.jpg"
                alt=""
              />
              <a class="btn hvr-hover" href="#">Lorem ipsum dolor</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="shop-cat-box">
              <img
                class="img-fluid"
                src="../images/categories_img_02.jpg"
                alt=""
              />
              <a class="btn hvr-hover" href="#">Lorem ipsum dolor</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="shop-cat-box">
              <img
                class="img-fluid"
                src="../images/categories_img_03.jpg"
                alt=""
              />
              <a class="btn hvr-hover" href="#">Lorem ipsum dolor</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Categories -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none"
      >&uarr;</a
    >

    <!-- ALL JS FILES -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/js/jquery.superslides.min.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/inewsticker.js"></script>
    <script src="/js/bootsnav.js."></script>
    <script src="/js/images-loded.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/baguetteBox.min.js"></script>
    <script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.js"></script>
    <script src="/js/custom.js"></script>
  </body>
</html>
