<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Site Metas -->
    <title>AgroVert - Beni Mellall RPZ</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css" />
  </head>

  <body>
    <!-- Start Main Top -->
    <header class="main-header">
      <!-- Start Navigation -->
      <nav
        class="
          navbar navbar-expand-lg navbar-light
          bg-light
          navbar-default
          bootsnav
        "
      >
        <div class="container">
          <!-- Start Header Navigation -->
          <div class="navbar-header">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbar-menu"
              aria-controls="navbars-rs-food"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/AgroVert/user/index"
              ><img src="/images/logo3.png" class="logo" alt=""
            /></a>
          </div>
          <!-- End Header Navigation -->

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul
              class="nav navbar-nav ml-auto"
              data-in="fadeInDown"
              data-out="fadeOutUp"
            >
              <li class="nav-item active">
                <a class="nav-link" href="/AgroVert/user/index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/AgroVert/user/about">About</a>
              </li>
              <li class="nav-item">
               <a class="nav-link" href="/AgroVert/user/gallery">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/AgroVert/user/connexion">Connexion</a>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
      </nav>
      <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

<!--<div class="wrap">-->
<!-- -->
<!--      -->
<!--		<form class="login-form" action="#" th:action="@{/AgroVert/user/save}" th:object="${user}" method="post">-->
<!--		   <div class="form-header">-->
<!--                <h3>Sign Up</h3>-->
<!--          </div>-->
<!--          -->
<!--		  <div class="form-group">-->
<!--		  <input type="text" class="form-input" placeholder="email@example.com" th:field="*{email}" />-->
<!--		  </div>-->
<!--		  -->
<!--		   <div class="form-group">-->
<!--                <input type="password" class="form-input" placeholder="password" th:field="*{password}" >-->
<!--            </div>-->
<!--            -->
<!--             <div class="form-group">-->
<!--                <button class="form-button" type="submit">Sign Up</button>-->
<!--            </div>-->
<!--			-->
<!--			-->
<!--		</form>-->
<!--	</div>-->
    <div class="container">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->

                <!-- Icon -->
                <!--              <div class="fadeIn first">-->
                <!--                  <img src="/images/avator-1.png" id="icon" alt="User Icon" />-->
                <!--              </div>-->

                <!-- Login Form -->
                <form action="#" th:action="@{/AgroVert/user/save}" th:object="${user}" method="post">
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="email@example.com" th:field="*{email}">
                    <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" th:field="*{password}">
                    <input type="submit" class="fadeIn fourth" value="Sign Up">
                </form>

                <!-- Remind Passowrd -->
<!--                <div id="formFooter">-->
<!--                    Don't have an account? <a class="underlineHover" href="/AgroVert/user/registration">Sign Up</a>-->
<!--                </div>-->

            </div>
        </div>
    </div>

</body>
</html>